<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
		<%- include('partials/head.ejs')%>
	</head>
	<body>
		<%-include('partials/navigation.ejs')%>
		<main
			class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
		>
			<section>
				<h1 class="display-1">About</h1>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non qui
					rerum ut recusandae nobis, totam voluptatum officiis aspernatur,
					numquam eius praesentium cupiditate perspiciatis. Natus quod ullam
					sint nam in temporibus, atque mollitia officia voluptate molestias
					voluptatibus autem nihil accusantium, sapiente eaque veritatis eveniet
					laudantium eos et aliquid ipsum, incidunt odio similique maiores. Quae
					necessitatibus expedita quod labore adipisci iure ad debitis dolore
					doloremque voluptas, architecto, ea earum, ratione sit dignissimos
					soluta ab quo recusandae magni corporis provident et culpa esse
					delectus?
				</p>
			</section>
		</main>
		<%-include('partials/footer.ejs')%>
	</body>
</html>
